<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
	<head>

		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>{%trans%}title{%endtrans%}{% block title %}{% endblock %}</title>
		<link rel="stylesheet" href="{{ asset('bundles/dellaertaccobooklist/css/main.css') }}" type="text/css">
		<script type="text/javascript" src="{{ asset('bundles/dellaertaccobooklist/js/jquery.min.js') }}"></script>
		{% block extrajs %}{% endblock %}

	</head>
	<body>
		<div id="wrap">
			<div id="top">
				<div class="cont">
					<div id="logo">
						<img src="{{ asset('bundles/dellaertaccobooklist/images/logo_acco.gif') }}" alt="logo Acco Boekhandel" width="559" height="61" border="0">
					</div>
					<ul id="funcnav">
						<li><a href="http://acco.be/boekhandel/nl">{% trans %}acco.bookstor{% endtrans %}</a></li>
						<li><a href="/nl">NL</a></li>
						<li><a href="/en">EN</a></li>
					</ul>
				</div>
			</div>
			<div id="main">
				<div id="content">
					{% block content %}{% endblock %}
				</div>
			</div>
			<div id="footer">
				<div class="bot">
					<p>2013 © Philippe Dellaert</p>
					<p class="created">{% trans %}created.by{% endtrans %} <a href="http://dellaert.org">Philippe Dellaert</a></p>
				</div>
			</div>
		</div>
	</body>
</html>