body{
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	color: #333;
	background: #EFEFEF url(../images/bg_body.jpg) repeat-x 0 150px;
}

html{}

html *{
	margin: 0;
	padding: 0;
}

#wrap {}

#top {
	background: #fff url(../images/bg_top.jpg) no-repeat 0 0;
}

#top .cont {
	width: 950px;
	margin: 0 auto;
	position: relative;
	min-height: 150px;
}
			
#top .cont #logo {
	position: absolute;
	top: 24px;
	left: 40px;
}

ul#funcnav {
	margin: 0;
	position: absolute;
	top: 10px;
	right: 0;
	font-size: 0.9em;
	font-weight: bold;
}

ul#funcnav li {
	background: none;
	padding: 0;
	margin: 0 0 0 10px;
	float: left;
	list-style: none;
}
	
ul#funcnav li a {
	color: #333;
	text-decoration: none;
}
	
ul#funcnav li a:hover {
	text-decoration: underline;
}

#main {
	width: 950px;
	margin: 0 auto;
	padding: 18px 0 10px 0;
	overflow: hidden;
	height: 1%;
}

#footer {}
	
#footer .bot {
	margin: 0 auto;
	width: 950px;
	padding: 10px 0;
	font-size: 0.9em;
}
		
#footer .created {
	float: right;
}

#content {
	margin: 0 30px 0 20px;
	background: url(../images/bg_cont.png) no-repeat top left;
	min-height: 451px;
	padding: 20px 20px 20px 27px;
}

.hr {
	border-top: 1px solid #ccc;
	margin-bottom: 10px;
}

#content .form-row {
	margin-bottom: 10px;
}

.form_dropdown {
	border-top: 2px solid #848484;
	border-left: 2px solid #848484;
	border-right: 2px solid #fafafa;
	border-bottom: 2px solid #fafafa;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: #333;
	padding: 2px;
	width: 481px;
}

/* links
------------------------------------------------ */
a {
	text-decoration: underline;
	color: #333;
}

a:hover {
	text-decoration: none;
}

/* typo
------------------------------------------------ */
h1 {
	font-size: 1.8em;
	font-weight: normal;
	color: #004785;
	margin-bottom: 20px;
}

h2, h3, h4 {
	font-weight: normal;
	font-size: 1.2em;
	margin-bottom: 10px;
}

h5 {
	font-weight: normal;
	font-size: 1em;
	margin-bottom: 10px;
}

h6 {
	font-weight: normal;
	font-size: 0.8em;
	margin-bottom: 10px;
}

#course_material_overview table {
	overflow:hidden;
	border:1px solid #d3d3d3;
	background:#fefefe;
	width:90%;
	margin:0 auto 2%;
	-moz-border-radius:2px; /* FF1+ */
	-webkit-border-radius:2px; /* Saf3-4 */
	border-radius:2px;
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}
	
#course_material_overview th, #course_material_overview td {padding:8px 16px 8px; text-align:left; }
	
#course_material_overview th {padding-top:8px; text-shadow: 1px 1px 1px #fff; background:#e8eaeb;}

#course_material_overview th.right {text-align: right;}
	
#course_material_overview td {border-top:1px solid #e0e0e0; border-right:1px solid #e0e0e0;}

#course_material_overview td.textright, #course_material_overview th.textright {text-align: right}
	
#course_material_overview tr.odd-row td {background:#f6f6f6;}
	
#course_material_overview td.last {border-right:none;}
	
/*
Background gradients are completely unnecessary but a neat effect.
*/
	
#course_material_overview td {
	background: -moz-linear-gradient(100% 25% 90deg, #fefefe, #f9f9f9);
	background: -webkit-gradient(linear, 0% 0%, 0% 25%, from(#f9f9f9), to(#fefefe));
}
	
#course_material_overview tr.odd-row td {
	background: -moz-linear-gradient(100% 25% 90deg, #f6f6f6, #f1f1f1);
	background: -webkit-gradient(linear, 0% 0%, 0% 25%, from(#f1f1f1), to(#f6f6f6));
}
	
#course_material_overview th {
	background: -moz-linear-gradient(100% 20% 90deg, #e8eaeb, #ededed);
	background: -webkit-gradient(linear, 0% 0%, 0% 20%, from(#ededed), to(#e8eaeb));
}
	
#course_material_overview tr:first-child th.first {
	-moz-border-radius-topleft:2px;
	-webkit-border-top-left-radius:2px; /* Saf3-4 */
}
	
#course_material_overview tr:first-child th.last {
	-moz-border-radius-topright:2px;
	-webkit-border-top-right-radius:2px; /* Saf3-4 */
}
	
#course_material_overview tr:last-child td.first {
	-moz-border-radius-bottomleft:2px;
	-webkit-border-bottom-left-radius:2px; /* Saf3-4 */
}
	
#course_material_overview tr:last-child td.last {
	-moz-border-radius-bottomright:2px;
	-webkit-border-bottom-right-radius:2px; /* Saf3-4 */
}

/* Courses
------------------------------------------------ */
#courses h2, h3, h4, h5, h6, p.expand_collapse_all {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color: #005095;
	color: #FFF;
	padding-left: 33px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 10px;
}

#courses h2.closed, h3.closed, h4.closed, h5.closed, h6.closed, p.closed_all {
	background: #005095 url(../images/head-closed.png) no-repeat left center;
}

#courses h2.expanded, h3.expanded, h4.expanded, h5.expanded, h6.expanded, p.expanded_all {
	background: #005095 url(../images/head-open.png) no-repeat left center;
}

#courses table {
	width: 100%;
	border: none;

}

#courses td {
	padding-bottom: 5px;
	padding-top: 2px;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 1em;
	text-align: left;
	vertical-align: top;
}

#courses td.icon {
	text-align: center;
	vertical-align: middle;
}

#courses td.icon a, #legend a.icon {
	height: 11px;
	width: 19px;
	background: url(../images/teachers.png);
	background-position: 0 0;
	cursor: default;
	display: block;
}

#courses td.icon a:hover, #courses td.icon a:focus, #legend a.icon:hover, #legend a.icon:focus {
	background-position: 0 -11px;
}

#directlink_top { 
	margin:0;
	text-align:right;
	padding-right:30px;
}

/* Sliding stuff
------------------------------------------------ */
.slidingDiv {
     display: none;
     margin-bottom: 5px;
}

.level {
	margin-left: 10px;
}

.expand_collapse_all {
	float: right;
	margin-bottom: 10px;
}

/* Tooltip stuff
------------------------------------------------ */
.tooltip {
	display: none;
	font-size: 0.9em;
	color: #FFF;
	padding: 5px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color: #005095;
	max-width: 200px;
}
