{% extends "DellaertACCOBooklistBundle::layout.html.twig" %}

{% block extrajs %}
	<script type="text/javascript">
		{% include 'DellaertACCOBooklistBundle:js:vakkenlijst.js.twig' %}
	</script>
{% endblock %}

{% block content %}
	<h1>{% trans %}literaturelist{% endtrans %}</h1>
	<form method="POST">
		<div class="form-row">
			<select class="form_dropdown" name="faculty" id="faculties" size="1">
				<option value="-1">{% trans %}patience{% endtrans %}</option>
			</select>
		</div>
		<div class="form-row">
			<select class="form_dropdown" name="level" id="levels" size="1">
				<option value="-1">{% trans %}patience{% endtrans %}</option>
			</select>
		</div>
		<div class="form-row">
			<select class="form_dropdown" name="study" id="studies" size="1">
				<option value="-1">{% trans %}patience{% endtrans %}</option>
			</select>
		</div>
		<div class="form-row">
			<select class="form_dropdown" name="program" id="programs" size="1">
				<option value="-1">{% trans %}patience{% endtrans %}</option>
			</select>
		</div>
		<div class="form-row">
			<select class="form_dropdown" name="stage" id="stages" size="1">
				<option value="-1">{% trans %}patience{% endtrans %}</option>
			</select>
		</div>
	</form>
	<div class="hr"> </div>
	<div id="courses"></div>
	<div id="coursestest">
		<p class="expand_collapse_all">Toggle all</p>
		<h2 class="show_hide">BI: Gemeenschappelijke basis</h2>
		<div class="slidingDiv">
			<h3 class="show_hide">Algemeen vormende opleidingsonderdelen</h3>
			<div class="slidingDiv level">
				<table style="border: 0px;" cellpadding="0" cellspacing="0">
					<tr>
						<td>Testvak</td>
						<td>Verplicht</td>
					</tr>
				</table> 
				<h4 class="show_hide">Religie, zingeving en levensbeschouwing</h4>
				<div class="slidingDiv level">
					<table style="border: 0px;" cellpadding="0" cellspacing="0">
						<tr>
							<td>Testvak 2</td>
							<td>Verplicht</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<h2 class="show_hide">BII: Hoofdrichtingen</h2>
		<div class="slidingDiv">
			<h3 class="show_hide">Hoofdrichting Bouwkunde</h3>
			<div class="slidingDiv level">
				<h4 class="show_hide">Opleidingsonderdelen bouwkunde</h4>
				<div class="slidingDiv level">
					<table style="border: 0px;" cellpadding="0" cellspacing="0">
						<tr>
							<td>Testvak 3</td>
							<td>Verplicht</td>
						</tr>
					</table>
				</div>
			</div>
			<h3 class="show_hide">Hoofdrichting Chemie</h3>
			<div class="slidingDiv level">
				<h4 class="show_hide">Opleidingsonderdelen chemie</h4>
				<div class="slidingDiv level">
					<table style="border: 0px;" cellpadding="0" cellspacing="0">
						<tr>
							<td>Testvak 4</td>
							<td>Verplicht</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
