{% extends "DellaertACCOBooklistBundle::layout.html.twig" %}

{% block extrajs %}
	<script type="text/javascript">
		{% include 'DellaertACCOBooklistBundle:js:vakkenlijst.js.twig' %}
	</script>
{% endblock %}

{% block content %}
	<form method="POST">
		<select name="faculty" id="faculties" size="1">
			<option value="-1">{% trans %}choose.faculty{% endtrans %}</option>
		</select>
		<br />
		<select name="level" id="levels" size="1">
			<option value="-1">{% trans %}choose.level{% endtrans %}</option>
		</select>
		<br />
		<select name="study" id="studies" size="1">
			<option value="-1">{% trans %}choose.study{% endtrans %}</option>
		</select>
		<br />
		<select name="program" id="programs" size="1">
			<option value="-1">{% trans %}choose.program{% endtrans %}</option>
		</select>
		<br />
		<select name="stage" id="stages" size="1">
			<option value="-1">{% trans %}choose.stage{% endtrans %}</option>
		</select>
		<div id="courses"></div>
	</form>
{% endblock %}
